
  <nav class="navbar  navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html">
          <img width="100px" src="../css/assets/img/logo.jpg"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="">
              Inicio
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
              aria-expanded="false">Lista</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#!/Sucursales">Sucursales</a>
              <a class="dropdown-item" href="#!/Usuarios">Usuarios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#!/Doctores">Doctores</a>
              <a class="dropdown-item" href="#!/Pacientes">Pacientes</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
              Agenda
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-lg-3 offset-2">
      <label class="tbl-header">Especialidad</label>
      <select type="date" class="form-control mb-1 " id="">
        <option>--Seleccione un valor--</option>
        <option ng-repeat="doctor in vm.doctores" value="{{doctor.special}}">{{doctor.special}}</option>
        <option></option>
      </select>
    </div>

    <div class="col-lg-3">
      <label>Doctor:</label>
      <select type="text" class="form-control mb-1 " id="" ng-model="vm.agenda.doctor">
        <option>--Seleccione un valor--</option>
        <option ng-repeat="doctor in vm.doctores" value={{doctor._id}}>{{doctor.name}}</option>
      </select>
    </div>
    <div class="col-lg-3">
        <label>Doctor:</label>
        <input type="date" name="" id="" ng-model="vm.agenda.day">
      </div>
  </div>
  <main class="row">


    <div class="container" ng-controller="agendaController">
      <!-- <div class="col-md-12 agenda">
          <h4 class="col-lg-12">Sabádo 7 Noviembre 2018</h4>
        </div> -->
      <div class="row">

        <table class="col-md-12" id="agenda">
          <thead>
              <th>
                <h4>{{vm.agenda.day}}}</h4>
              </th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="cita in vm.citas">
              <td>{{cita.hora}}</td>
              <!-- <td>{{agenda.paciente}}</td> -->
              <td ng-repeat="paciente in cita.pacientes track by $index">{{paciente}}</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">Agendar</button>
    </div>

    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

          </div>
          <div class="modal-body">
            <div class="">
              <div class="col-lg-12">
                <label for="date" class="">Asunto:</label>
                <input type="text" class="form-control mb-1 " id="">
              </div>
              <div class="col-lg-12">
                <select class="" name="">
                  <option>--Seleccione un valor--</option>
                  <option ng-repeat="paciente in vm.pacientes" value={{paciente.name}}>{{paciente.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
  </main>
